@use 'scss/font';
@use 'scss/unit' as u;

.button {
  background: none;
  border: none;
  color: var(--theme-color-secondary);
  cursor: pointer;
  display: block;
  font-family: font.get(primary);
  min-width: fit-content;
  overflow: hidden;
  padding: u.rem-calc(4) u.rem-calc(8);
  position: relative;
  transition: 0.25s;

  &::before {
    background: var(--theme-color-secondary);
    content: '';
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transition: 0.25s;
    width: 100%;
    z-index: -1;
  }

  &:hover,
  &:focus-visible {
    color: var(--theme-color-primary);
    transition: 0.25s 0.2s;

    &::before {
      left: 0;
    }
  }
}
