@use 'scss/unit' as u;

.title {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.splitTitle {
  color: var(--theme-color-secondary);
  column-gap: u.rem-calc(80);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.word {
  display: flex;
  flex: auto;
  gap: u.rem-calc(20);
  justify-content: space-evenly;
}
