@use 'scss/unit' as u;
@use 'scss/breakpoint' as bp;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(30);
  position: relative;

  @include bp.down(sm) {
    gap: u.rem-calc(15);
  }
}

.submitFeedback {
  align-items: center;
  background: var(--theme-color-secondary);
  color: var(--theme-color-primary);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: u.rem-calc(20);
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

.button {
  width: fit-content;
}
