@use 'scss/breakpoint' as bp;
@use 'scss/unit' as u;

.wrapper {
  background: var(--theme-color-primary);
  padding: 0 u.rem-calc(60);

  @include bp.down(sm) {
    padding: 0 u.rem-calc(30);
  }
}

.content {
  margin: auto;
  max-width: u.rem-calc(1600);
  min-height: 100vh;
}
