@use 'scss/unit' as u;

.icon path {
  fill: var(--theme-color-primary);
  transition: 0.2s;
}

.wrapper {
  background: var(--theme-color-secondary);
  display: block;
  height: u.rem-calc(50);
  padding: u.rem-calc(10);
  transition: 0.2s;
  width: u.rem-calc(50);

  &:hover {
    background: var(--theme-color-primary);
    transform: rotate(-6deg) scale(1.04);

    .icon path {
      fill: var(--theme-color-secondary);
    }
  }
}
